{% extends 'base.html' %}

{% block content %}
<body>
<footer class="foot">
    <h1>{{ object.dish_name }}</h1>
</footer>
 <div class="page_panel">
    <div class="conteiner">
        <img class="imgg" src="{{ object.dish_image.url }}">
        <div class="ingredient">
            <div>
                <h2>
                    ИНГРЕДИЕНТЫ:
                </h2>
                <p>{{object.products}}</p>
            </div>
            <div href=""></div>
        </div>
    </div>
    <div class="instruction">
        <div>
            <h2>
                ИНСТРУКЦИЯ ПРИГОТОВЛЕНИЯ:
            </h2>
            <p>{{ object.dish_info }}</p>

        </div>
    </div>

 </div>
</body>
<footer class="foot">
    <img src="/static/image/icon.jpg">
    <h1>По маминому рецепту</h1>
    <h2>Связаться с нами:&nbsp;&nbsp;&nbsp;&nbsp;+996(700)32-67-71</h2>
</footer>

{% endblock %}

